In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn

In [9]:
df = pd.read_csv('/Users/helenelipp/Downloads/Tweets.csv')

In [10]:
df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [12]:
df.info

<bound method DataFrame.info of            textID                                               text  \
0      cb774db0d1                I`d have responded, if I were going
1      549e992a42      Sooo SAD I will miss you here in San Diego!!!
2      088c60f138                          my boss is bullying me...
3      9642c003ef                     what interview! leave me alone
4      358bd9e861   Sons of ****, why couldn`t they put them on t...
...           ...                                                ...
27476  4eac33d1c0   wish we could come see u on Denver  husband l...
27477  4f4c4fc327   I`ve wondered about rake to.  The client has ...
27478  f67aae2310   Yay good for both of you. Enjoy the break - y...
27479  ed167662a5                         But it was worth it  ****.
27480  6f7127d9d7     All this flirting going on - The ATG smiles...

                                           selected_text sentiment
0                    I`d have responded, if I were going   neutral
1                                               Sooo SAD  negative
2                                            bullying me  negative
3                                         leave me alone  negative
4                                          Sons of ****,  negative
...                                                  ...       ...
27476                                             d lost  negative
27477                                      , don`t force  negative
27478                          Yay good for both of you.  positive
27479                         But it was worth it  ****.  positive
27480  All this flirting going on - The ATG smiles. Y...   neutral

[27481 rows x 4 columns]>

In [16]:
df = df.dropna()

In [18]:
df.duplicated().sum()

0

In [19]:
df = df.reset_index(drop = True)
df.tail()

,textID,text,selected_text,sentiment
27475,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27476,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27477,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27478,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27479,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [20]:
#convert label string to categorical
df['label_id'] = df['sentiment'].factorize()[0]
cat_id = df[['sentiment', 'label_id']].drop_duplicates().sort_values('label_id')
cat_to_id = dict(cat_id.values)
id_to_cat = dict(cat_id[['label_id', 'sentiment']].values)

#show data id_to_kategori
id_to_cat

{0: 'neutral', 1: 'negative', 2: 'positive'}

In [21]:
#checking dataset value
label = df['label_id'].values
text = df['selected_text'].values

print('Value of [label]:', label, "\n")
print('Value of [text]:', text)

Value of [label]: [0 1 1 ... 2 2 0]

Value of [text]: ['I`d have responded, if I were going' 'Sooo SAD' 'bullying me' ...
 'Yay good for both of you.' 'But it was worth it  ****.'
 'All this flirting going on - The ATG smiles. Yay.  ((hugs)']